#banner {
    display: flex;
    margin: 20px 100px;
    padding: 80px;
    background: linear-gradient(135deg, #5961F9 1.56%, #ED80FD 92.06%);
    border-radius: 48px 48px 300px 48px;
    color: white;
}

h1 {
    font-family: 'Jost';
    font-size: 50px;
    line-height: 124%;
    letter-spacing: -1%;
}

#banner img {
    width: 550px;
    height: 370px;
}

.button--transparent {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-left: 20px;
}